$color_1: #133030;
$color_2: #bf3a3a;
$color_3: #2f777d;
$color_4: white;
$font_family_1: "Open Sans", sans-serif;
$font_family_2: "cubano", sans-serif;
$background_color_1: #2f777d;
$background_color_2: #d3ecee;
$background_color_3: #f7f7f7;
$background_color_4: #9e3939;