@import '_vars';
@import 'modules/_clickturtle';
@import 'modules/_help';
@import 'modules/_information';
@import 'modules/_footer';


@font-face {
	font-family: 'cubano';
	src: url('Cubano.ttf') format('truetype');
}

* {
	box-sizing: border-box;
}

.hidden {
	display: none;
}

body {
	background-color: $background_color_1;
	color: $color_1;
	font-size: 14px;
	font-family: $font_family_1;
	font-weight: 400;
	font-style: normal;
	text-align: center;
	margin: 0 auto;
}

header {
	background-color: $background_color_2;
	width: 100%;
}

.wave-container {
	position: relative;
	background: #d3ecee;
	overflow: hidden;
	>svg {
		display: block;
		margin: 0 auto;
		display: block;
		transform-origin: bottom;
		animation: animateWave 2s cubic-bezier(0.23, 1, 0.32, 1) forwards !important;
	}
}

@keyframes animateWave {
	0% {
	  transform: scale(1,0);
	}
	100% {
	  transform: scale(1,1);
	}
  }

.fill {
	width: 100%;
}

.buffer {
	min-height: 100vh;
}

h1 {
	font-family: $font_family_2;
	font-weight: 400;
	font-style: normal;
	color: $color_2;
	font-size: 3em;
	text-align: center;
	margin: 0 auto;
	padding-top: 50px;
}

h2 {
	font-family: $font_family_1;
	font-size: 1.3em;
	text-align: center;
	color: $color_3;
	width: 80%;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

h3 {
	font-family: $font_family_1;
	font-size: 1.5em;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
	color: $color_3;
}

p {
	text-align: center;
	margin-top: -10px;
}

section {
	p {
		color: $color_3;
		font-size: 1em;
	}
	>div {
		&:not(.text-wrapper) {
			text-align: center;
			padding: 20px;
			position: relative;
			padding-top: 5px;
		}
	}
}

a {
	color: $color_4;
	text-decoration: none;
	background-color: $color_3;
	padding: 10px 10px 10px 10px;
	border-radius: 7px 7px 7px 7px;
	&:hover {
		color: $color_1;
		text-decoration: none;
		background-color: $background_color_3;
		transition: .2s ease-in;
		padding: 10px 10px 10px 10px;
		border-radius: 7px 7px 7px 7px;
	}
}

.title_text {
	font-family: $font_family_1;
	font-size: 1.3em;
	text-align: center;
	color: $color_4;
	width: 80%;
	margin: 0 auto;
}

.title_text2 {
	font-family: $font_family_1;
	font-size: 1.3em;
	text-align: center;
	color: $color_4;
	width: 100%;
	margin: 0 auto;
	padding-top: 30px;
}

.supporting_text {
	font-family: $font_family_1;
	font-size: 1.3em;
	text-align: center;
	color: $color_4;
	width: 80%;
	margin: 0 auto;
	padding-bottom: 40px;
}

.main-header2 {
	font-size: 2.5em;
	padding: 0;
	margin: 0 auto;
	padding-bottom: 15px;
}

.sub-header {
	padding: 15px;
}

.div_wrapper {
	width: 20%;
	display: inline-block;
	padding: 1%;
	margin-left: 1%;
	margin-bottom: 0;
}

hr {
	border: 2px solid #2f777d;
	border-radius: 7px 7px 7px 7px;
	width: 85%;
}

#learnFacts {
	padding-top: 20px;
}

@media screen and (max-width: 992px) {
	.div_wrapper {
		width: 30%;
	}
	.pictureContainer {
		margin: 10px;
	}
}

@media screen and (max-width: 600px) {
	.div_wrapper {
		width: 30%;
	}
	.pictureContainer {
		margin: 10px;
	}
}

.factsSection {
	background-color: $color_5;
	width: 50%;
	border-radius: 25px;
	text-align: center;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 20px;
	padding-top: 10px;
	padding-bottom: 30px;
}

.pictureContainer {
	display: inline-block;
	height: 150px;
	overflow: hidden;
	width: 170px;
}

.pictureContainer img {
	position: relative;
	transform: translate3d(0px 0px 0px);
	transition: transform .5s ease-in-out;
}

.pictureContainer img:hover {
	transform: translate3d(0px -140px 0px);
	top: -155px;
}