<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css?family=Archivo+Black%7COpen+Sans" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

    <title>Sea Turtles - Interactive Infographic</title>

    <link rel="icon" href="/images/favicon.ico" type="image/png" sizes="16x16">
</head>
<body>
  <header class="fill">
      <h1 class="main-header">7 Species of Sea Turtles</h1>
      <h1 class="main-header2">and How To Save Them</h1>

      <hr class="line">

      <h2 class="sub-header">This infographic was created to bring awareness to sea turtles and the dangers they face. There is a strong importance on taking care of the ocean and those living in it.</h2>
  </header>
    
    <main>
        <!-- If we were using a framework, these might be 6-col or something-->
      
      <section class="click_turtle">
          <div class="div_wrapper">
              <object data="images/kempridley_icon.svg" type="image/svg+xml" class="svg-graphic" id="kempridley"></object>
              <span class="see-more" data-target="1">Reveal Turtle 1</span>
          </div>
          <div class="div_wrapper">
            <object data="images/oliveridley_icon.svg" type="image/svg+xml" class="svg-graphic" id="oliveridley"></object>
            <span class="see-more" data-target="2">Reveal Turtle 2</span>
          </div>
          <div class="div_wrapper">
            <object data="images/loggerhead_icon.svg" type="image/svg+xml" class="svg-graphic" id="loggerhead"></object>
            <span class="see-more" data-target="3">Reveal Turtle 3</span>
          </div>
          <div class="div_wrapper">
            <object data="images/hawksbill_icon.svg" type="image/svg+xml" class="svg-graphic" id="hawksbill"></object>
            <span class="see-more" data-target="4">Reveal Turtle 4</span>
          </div>
          <div class="div_wrapper">
            <object data="images/flatback_icon.svg" type="image/svg+xml" class="svg-graphic" id="flatback"></object>
            <span class="see-more" data-target="5">Reveal Turtle 5</span>
          </div>
          <div class="div_wrapper">
            <object data="images/green_icon.svg" type="image/svg+xml" class="svg-graphic" id="green"></object>
            <span class="see-more" data-target="6">Reveal Turtle 6</span>
          </div>
          <div class="div_wrapper">
            <object data="images/leatherback_icon.svg" type="image/svg+xml" class="svg-graphic" id="leatherback"></object>
            <span class="see-more" data-target="7">Reveal Turtle 7</span>
          </div>

          <section class="information">
            <h3 class="getInfo">Click on a sea turtle label above to reveal more info!</h3>
            
            <div id="name">
                <h2 class="species"></h2>
            </div>
            <div id="species">
                <div class="speciesSection">
                    <p class="scientificName"></p>
                </div>
                <div class="speciesSection">
                    <p class="weight"></p>
                </div>
                <div class="speciesSection">
                  <p class="conservationStatus"></p>
              </div>
              <div class="speciesSection">
                <p class="biggestThreat"></p>
              </div>
            </div>
      </section>


    </main>
    <script src="js/main.js"></script>
</body>
</html>