.species {
	color: $color_1;
	font-size: 1.5em;
	text-align: center;
	display: inline;
}
.scientificName {
	color: $color_1;
	font-size: 1.5em;
	text-align: center;
	display: inline;
}
.weight {
	color: $color_1;
	font-size: 1.5em;
	text-align: center;
	display: inline;
}
.conservationStatus {
	color: $color_1;
	font-size: 1.5em;
	text-align: center;
	display: inline;
}
.biggestThreat {
	color: $color_1;
	font-size: 1.5em;
	text-align: center;
	display: inline;
}
.information {
	background-color: $background_color_3;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 25px;
	margin: 30px 40px 50px 40px;
}